.container{
  display: flex;
  flex-direction: column;

  .text{
    
    color: #fff;
    font-size: 45px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    font-weight: normal;
    flex-direction: row;
    padding-bottom: 10px;
    font-family: 'MyCustomFont', sans-serif;
  }



}