
.table{
  border: #fff;
  margin-top: 100px;
  border-style: solid;
  background-color: #0000007d;
    .base{
      color: #fff;
      }
}

.button{
  display: flex;
  flex-direction: row;
  justify-content: center;
}